<mat-card>
  <h3>
    Gestor de Sistema
  </h3>
</mat-card>
<br>
<mat-card>
  <button mat-raised-button color="primary" [routerLink]="['/createCalendar']">Criar Calendario</button>
  <br>
  <br>
  <button mat-raised-button color="primary" [routerLink]="['/paginaTrocas']">Gerir Trocas</button>
  <br>
  <br>
  <button mat-raised-button color="primary" [routerLink]="['/paginaVigilancias']">Visualizar Vigilancias</button>
</mat-card>
<br>
<mat-card>
  <button mat-raised-button color="accent" [routerLink]="['/paginaPrincipal']">Voltar Atrás</button>
</mat-card>

